{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="teal-text">Delete Barber</h2>

  <div class="card">
    <div class="card-content">
      <h4>Are you sure you want to delete <span>{{ object.name }}</span>?</h4>
    </div>
    <div class="card-action">
      <form action="" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn red">Yes - Delete!</button>
        <a href="{% url 'index' %}" class="btn grey">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}