{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="teal-text">Delete {{ object.username }}</h1>

  <div class="card-panel">
    <h4>Are you sure you want to delete <span>{{ object.username }}</span>?</h4>

    <form action="" method="POST">
      {% csrf_token %}
      <button type="submit" class="waves-effect waves-light btn red">Yes - Delete!</button>
      <a href="{% url 'detail' object.id %}" class="waves-effect waves-light btn">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
