{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h2 class="teal-text center-align">Barbers Reviews List</h2>

    {% for review in review_list %}
    <div class="card">
        <a href="{% url 'detail' barber_id=review.barber_id.pk %}" class="purple-text">
            <div class="card-content">
                <h2>{{ review.barber_id.name }}</h2>
                <p><strong>Phone:</strong> {{ review.barber_id.phone }}</p>
                <p><strong>Bio:</strong> {{ review.barber_id.bio }}</p>
                <div>
                    <p><strong>User:</strong> {{ review.user }}</p> 
                    <p><strong>Review:</strong> {{ review.comment }}</p>
                </div>
            </div>
        </a>
        
    </div>
    {% endfor %}
</div>


{% endblock %}