{% extends 'base.html' %}
{% block content %}

<h1>Barbers List</h1>
{% for barber in barbers %}
    <div>
        <div>
            <span>{{ barber.name }}</span>
            <p>Phone: {{ barber.phone }}</p>
            <p>Bio: {{ barber.bio }}</p>
        </div>
        
        <div>
            <a href="/barbers/{{barber.id}}">Details</a>
            <a href="{% url 'barbers_update' barber.id %}">Edit</a>
            <a href="{% url 'barbers_delete' barber.id %}">Delete</a>
        </div>
    </div>

{% endfor %}

{% endblock %}