{% extends 'base.html' %}
{% block content %}

<h1>Barbers List</h1>
{% for barber in barbers %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ barber.name }}</span>
            <p>Phone: {{ barber.phone }}</p>
            <p>Bio: {{ barber.bio }}</p>
        </div>
        
        <div class="card-action purple">
            <a href="/barbers/{{barber.id}}">Details</a>
            <a href="{% url 'reviews_create' barber_id=barber.id %}">Add Review</a>
            <a href="{% url 'barbers_update' barber.id %}">Edit</a>
        </div>
    </div>

{% endfor %}

{% endblock %}